{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ninestars Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "assets/img/favicon.png" %} rel="icon">
  <link href={% static "assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/icofont/icofont.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/venobox/venobox.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/owl.carousel/assets/owl.carousel.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "assets/css/style.css" %} rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v2.0.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <a href={% url 'index' %} class="logo">
          <img src={% static "/assets/img/company/company.png" %} alt="NTL" class="img-fluid pl-md-5" style="max-height: 50px; ">
        </a>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header"></a></li>
          <li class="active"><a href="#header"></a></li>

          <li><a href={% url 'ncr21' %}>NCR Selfserv TM 21</a></li>
          <li class="active"><a href= {% url 'ncr27' %}>NCR Selfserv TM 27</a></li>
          <li><a href={% url 'ncr61' %}>NCR Selfserv TM 61</a></li>
          <li><a href={% url 'ncr64' %}>NCR Selfserv TM 64</a></li>
          <li><a href={% url 'ncrSE' %}>NCR Selfserv SE Cash</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- Main content -->
  <div class="container my-5" style="padding-top: 100px;">
    <div class="row">
        <div class="col-lg-6 text-center">
            <!-- Bootstrap Carousel with Indicators -->
            <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
              <!-- Carousel Indicators (Styled Dots) -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <!-- <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
              </div>
          
              <!-- Carousel Inner -->
              <div class="carousel-inner">
                <div class="carousel-item active" style="height: 400px;">
                  <img src={% static "/assets/img/products/SelfServ-27-1.jpg" %} alt="NCR SelfServ 27" class="img-fluid">
                </div>
                <div class="carousel-item" style="height: 400px;">
                  <img src= {% static "/assets/img/products/selfserve27-2.webp" %} alt="NCR SelfServ 27" class="img-fluid">
                </div>
                <!-- <div class="carousel-item" style="height: 400px;">
                  <img src="https://www.bluebytes.org/assets/images/ss24-front-19inch-open-collar-all-lights-green-3.webp" alt="NCR SelfServ 27" class="img-fluid">
                </div> -->
              </div>
            </div>
            <div style="padding-top: 5px; padding-bottom: 5px; background-color: rgba(255, 218, 118, 0.548); margin-top: 30px;  background-position: 0 bottom; background-size: 100% 2px; background-repeat: no-repeat; border-left: 4px solid red; padding-left: 10px;">
              <h1 style="text-align: start;">NCR Selfserv TM 27</h1> 
              <h4 style=" font-size: 18px; text-align: start;">THROUGH-THE-WALL CASH DISPENSER</h4>
          </div>
            <p class="mt-4 text-justify">The SelfServ 27 is a new premium exterior through the wall ATM from NCR, featuring a modern aesthetic, enabling the latest touch, swipe and gesture capability. Designed for ease-of-use and delivering an exceptional consumer experience, the SelfServ 27 is capable of handling the highest possible transaction volumes. The SelfServ 27 drives six key business benefits for ATM deployers by improving: – availability, usability, performance, service, security and design. Learn more about the new S2 Media Dispense Module available for this unit.</p>
           

            <style>
                .feature-section {
                  background-color: #f8f9fa;
                  padding: 2rem;
                  border-radius: 8px;
                  margin-bottom: 1.5rem;
                }
                .feature-icon {
                  font-size: 24px;
                  color: #28a745; /* Green color for the icons */
                }
                .feature-heading {
                  font-weight: bold;
                  font-size: 1.2rem;
                  color: #333;
                }
                .feature-description {
                  font-size: 0.95rem;
                  color: #666;
                }
              </style>
         
         
         <div class="container my-5">
  
            <!-- Experience Section -->
            <div class="feature-section text-center border rounded  p-4 mb-4 bg-white mx-auto">
              <img src="https://cdn-icons-png.flaticon.com/512/9759/9759793.png" alt="Efficiency Icon" width="50" height="50">
    
              <h4 class="feature-heading">Proactively fixes itself</h4>
              <p class="feature-description text-justify">
                Keep your ATMs up and running, offering your customers the
transactions they want, when and where they need them. NCR’s express
recovery and self-healing technologies reduce downtime from hours to
minutes—making your ATMs available around the clock.
</p>
            </div>
          
            <!-- Availability Section -->
            <div class="feature-section text-center border rounded  p-4 mb-4 bg-white mx-auto">
              <img src="https://cdn-icons-png.flaticon.com/512/2750/2750396.png" alt="Efficiency Icon" width="50" height="50">
    
              <h4 class="feature-heading">Keeps you informed</h4>
              <p class="feature-description text-justify">
                Successful network management is about having the right information at
your fingertips. The SelfServ 27 provides instant data on configurations,
software versions and the activity levels of each module. So you can see,
understand and control your entire network—allowing you to make better
business decisions.</p>
            </div>
          
            <!-- Security Section -->
            <div class="feature-section text-center border rounded  p-4 mb-4 bg-white mx-auto">
              <img src="https://cdn-icons-png.flaticon.com/512/8148/8148456.png" alt="Efficiency Icon" width="50" height="50">
    
              <h4 class="feature-heading">Inspire trust in your ATM network
            </h4>
              <p class="feature-description text-justify">
                The SelfServ 27 is designed to defend against known and unknown
fraud attacks, even before they start. Ask us about our multi-layered
approach to ATM security including logical and physical solutions. For
example, Solidcore Suite for APTRA™ protects against the execution of
unauthorized code on your ATM network and our Skimming Protection
Solution protects cardholder data from card skimming attacks.</p>
            </div>
          
          </div>
          
            <!-- Video Section -->
            <!-- <div class="video-section">
              <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/watch?v=NwIhwK_0ygw&t=5s" title="Video unavailable" allowfullscreen></iframe>
              </div>
            </div> -->
          </div>
          
          <!-- Custom CSS for Carousel Indicators -->
          <style>
            .carousel-indicators [data-bs-target] {
              margin-top: 50px;
              width: 12px;
              height: 8px;
              background-color: gray;
              border: 2px solid white;
              border-radius: 50%;
              opacity: 0.5;
            }
            .carousel-indicators .active {
              background-color: blue;
              border: 2px solid black;
              opacity: 1;
            }
          </style>
          
          <!-- Include Bootstrap JS -->
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
          <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <h3>Features & Specifications</h3>
        <ul>
          <li>15” LCD multi-touch screen or FDK</li>
          <li>S2 Media Dispense Module</li>
          <li>Up to 60-note bunch capacity</li>
          <li>Anti-fraud enhancements</li>
          <li>NCR Skimming Protection Solution</li>
          <li>Integrated Contactless Card Reader</li>
        </ul>
        
        <h4>Product Dimensions</h4>
        <ul>
          <li>Height: 57.4” (1459mm)</li>
          <li>Width: 38.6” (982mm)</li>
          <li>Depth: 35.1” (892mm)</li>
          <li>Weight: 1,407 lbs (638kg)</li>
        </ul>

        <h4>Consumer Interface</h4>
        <ul>
          <li>Display - 15” LCD multi-touch enabled, or with FDK, optional privacy filter</li>
          <li>Keyboard - EPP (PCI compliant), polycarbonate or stainless steel</li>
          <li>Card Reader - Smart Dip, 2 or 3 track IMCRW with Card Return on Power Failure (CROPF) and Smart Integrated Media Entry and Exit Indicators (MEEI)</li>
          <li>Audio - Optional high-quality public audio and/or sound jack with volume control</li>
          <li>Barcode Reader - 2D Barcode supports both 1D and 2D documents</li>
        </ul>

        <h4>Dispenser</h4>
        <ul>
          <li>S2 Media Dispense Module, 2-4 cassettes, bunch presenter</li>
          <li>Configurable purge bin capability with retract and single-note divert</li>
          <li>Anti-overfill cassette</li>
        </ul>

        <h4>Printers</h4>
        <ul>
          <li>Receipt Printer - 80mm 203dpi graphics thermal printer. Options - retract and capture, 2ST (two-sided thermal printing)</li>
          <li>Journal Printer - 80mm 203dpi graphics thermal printer (Journal available as default)</li>
        </ul>

        <h4>Security</h4>
        <ul>
          <li>USB Protection and Parts Validation, Options - Fraudulent Device Inhibition, Enhanced Card Drive, Skimming Protection Solution (SPS) (MCMW only), Ink-staining, Solidcore Suite for APTRA, Camera NTSC, PAL or third party, cash slot and portrait camera enabled</li>
          <li>Uninterruptible Power Supply (UPS)</li>
          <li>Safes - CEN1, CEN3, ENV</li>
        </ul>

        <h4>Servicing</h4>
        <ul>
          <li>Rear access</li>
          <li>7” LCD Control Operator Panel (Rear access only)</li>
        </ul>

        <h4>Operating Platform</h4>
        <ul>
          <li>Intel Celeron, i3 and i5 processor options</li>
          <li>2GB or 4GB RAM</li>
          <li>250GB hard drive</li>
          <li>DVD-RW drive</li>
        </ul>

        <h4>Software</h4>
        <ul>
          <li>Windows 7</li>
          <li>APTRA software suite</li>
        </ul>
      </div>
    </div>
  </div>


<!-- Vendor JS Files -->
<script src= {% static "assets/vendor/jquery/jquery.min.js" %}></script>
<script src= {% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src= {% static "assets/vendor/jquery.easing/jquery.easing.min.js" %}></script>
<script src= {% static "assets/vendor/php-email-form/validate.js" %}></script>
<script src= {% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
<script src= {% static "assets/vendor/venobox/venobox.min.js" %}></script>
<script src= {% static "assets/vendor/owl.carousel/owl.carousel.min.js" %}></script>
<script src= {% static "assets/vendor/aos/aos.js" %}></script>

<!-- Template Main JS File -->
<script src= {% static "assets/js/main.js" %}></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
