{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ninestars Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "assets/img/favicon.png" %} rel="icon">
  <link href={% static "assets/img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/icofont/icofont.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/venobox/venobox.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/owl.carousel/assets/owl.carousel.min.css" %} rel="stylesheet">
  <link href= {% static "assets/vendor/aos/aos.css" %} rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "assets/css/style.css" %} rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v2.0.0
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex">

      <div class="logo mr-auto">
        <a href={% url 'index' %} class="logo">
          <img src={% static "/assets/img/company/company.png" %} alt="NTL" class="img-fluid pl-md-5" style="max-height: 50px; ">
        </a>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header"></a></li>
          <li class="active"><a href="#header"></a></li>
          <li class="active"><a href="#header"></a></li>
          <li class="active"><a href="#header"></a></li>
          <li><a href={% url 'ncr21' %}>NCR Selfserv TM 21</a></li>
          <li ><a href= {% url 'ncr27' %}>NCR Selfserv TM 27</a></li>
          <li ><a href={% url 'ncr61' %}>NCR Selfserv TM 61</a></li>
          <li ><a href={% url 'ncr64' %}>NCR Selfserv TM 64</a></li>
          <li class="active"><a href={% url 'ncrSE' %}>NCR Selfserv SE Cash</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- Main content -->
  <div class="container my-5" style="padding-top: 100px;">
    <div class="row">
        <div class="col-lg-6 text-center">
            <!-- Bootstrap Carousel with Indicators -->
            <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
              <!-- Carousel Indicators (Styled Dots) -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <!-- <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
              </div>
          
              <!-- Carousel Inner -->
              <div class="carousel-inner">
                <div class="carousel-item active" style="height: 400px;">
                  <img src={% static "/assets/img/products/se-cash.webp" %} alt="NCR SelfServ 27" class="img-fluid">
                </div>
                <div class="carousel-item" style="height: 400px;">
                  <img src={% static "/assets/img/products/selfserve-se-all.webp" %} alt="NCR SelfServ 27" class="img-fluid">
                </div>
                <!-- <div class="carousel-item" style="height: 400px;">
                  <img src="https://www.bluebytes.org/assets/images/ss24-front-19inch-open-collar-all-lights-green-3.webp" alt="NCR SelfServ 27" class="img-fluid">
                </div> -->
              </div>
            </div>
        
          <div style="padding-top: 5px; padding-bottom: 5px; background-color: rgba(255, 218, 118, 0.548); margin-top: 30px;  background-position: 0 bottom; background-size: 100% 2px; background-repeat: no-repeat; border-left: 4px solid red; padding-left: 10px;">
            <h1 style="text-align: start;">NCR SelfServ TM SE Cash</h1> 
            <h4 style=" font-size: 18px; text-align: start;">INTERIOR FREESTANDING CASH DISPENSE ATM</h4>
        </div>
            <p class="mt-4 text-justify">
                Today’s ATM market brings new challenges for financial
institutions, from increased consumer expectations,
to ATM network security. However, one constant is
consumer demand for cash which continues to increase
year on year. With the introduction of new technologies,
the ATM channel remains as relevant as ever in today’s
omni-channel environment. <br>

The SelfServ SE Cash has been designed to
enhance the consumer experience, reduce costs
and generate revenue. It does so by allowing you to:
Connect with your customer, Perform better than ever
before, all whilst increasing ATM Security.
            </p>
           

            <style>
                .feature-section {
                  background-color: #f8f9fa;
                  padding: 2rem;
                  border-radius: 8px;
                  margin-bottom: 1.5rem;
                }
                .feature-icon {
                  font-size: 24px;
                  color: #28a745; /* Green color for the icons */
                }
                .feature-heading {
                  font-weight: bold;
                  font-size: 1.2rem;
                  color: #333;
                }
                .feature-description {
                  font-size: 0.95rem;
                  color: #666;
                }
              </style>
         
         
         <div class="container my-5">
  
            <!-- Experience Section -->
            <!-- <div class="feature-section text-center">
              <i class="bi bi-star-fill feature-icon"></i>
              <h4 class="feature-heading"></h4>
              <p class="feature-description text-justify">
                

</p>
            </div> -->
          
            <!-- Availability Section -->
            <!-- <div class="feature-section text-center">
              <i class="bi bi-shield feature-icon"></i>
              <h4 class="feature-heading">Efficient</h4>
              <p class="feature-description text-justify">
                - Helping Financial Institutions lower
                their total cost of ownership and meet wider
                corporate social responsibility objectives whilst
                delivering service excellence though wide
                range of software tools.</p>
            </div> -->
          
            <!-- Security Section -->
            <!-- <div class="feature-section text-center">
              <i class="bi bi-lock-fill feature-icon"></i>
              <h4 class="feature-heading">Agile
            </h4>
              <p class="feature-description text-justify">
                - Versatile device configurations.
                Dynamic software-driven capabilities, split
                cassette optiona, interchangeable interfaces
                and modular ATM design for best results and
                performance. </p>
            </div> -->
          
          </div>
          
            <!-- Video Section -->
            <!-- <div class="video-section">
              <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/watch?v=NwIhwK_0ygw&t=5s" title="Video unavailable" allowfullscreen></iframe>
              </div>
            </div> -->
          </div>
          
          <!-- Custom CSS for Carousel Indicators -->
          <style>
            .carousel-indicators [data-bs-target] {
              margin-top: 20px;
              width: 12px;
              height: 8px;
              background-color: gray;
              border: 2px solid white;
              border-radius: 50%;
              opacity: 0.5;
            }
            .carousel-indicators .active {
              background-color: blue;
              border: 2px solid black;
              opacity: 1;
            }
          </style>
          
          <!-- Include Bootstrap JS -->
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
          <div class="col-lg-1"></div>
          <div class="col-lg-5" style="padding-top: 30px;">
            <h4>Technical Specifications</h4>
            <h4>Product Dimensions</h4>
            <ul>
                <li>Height: 48.9” (1,244mm)</li>
                <li>Width: 19.2” (487mm)</li>
                <li>Depth: 34.0” (865mm)</li>
                <li>Weight: 864 lbs (392kg)</li>
            </ul>
        
            <h4>Module</h4>
            <ul>
                <li>S1 Media Dispense Module</li>
                <li>2-4 cassettes (295mm)</li>
                <li>Bunch presenter</li>
            </ul>
        
            <h4>Consumer Interface</h4>
            <ul>
                <li>Recessed EPP (PCI Compliant)</li>
                <li>15” LCD Multi-touch Screen</li>
                <li>DIP Card Reader</li>
                <li>Integrated Media Entry & Exit Indicators (MEEI)</li>
                <li>Private Audio - sound jack</li>
            </ul>
        
            <h4>Security</h4>
            <ul>
                <li>CEN I Safe</li>
                <li>Enhanced Security Shutter</li>
                <li>Privacy filter enabled display (optional)</li>
                <li>Skimming Protection Solution (SPS) (optional)</li>
            </ul>
        
            <h4>Cameras</h4>
            <ul>
                <li>Consumer Camera</li>
                <li>Cash Slot Camera (optional)</li>
            </ul>
        
            <h4>Printer</h4>
            <ul>
                <li>4" 203dpi graphics thermal printer</li>
            </ul>
        
            <h4>Servicing</h4>
            <ul>
                <li>Front access only</li>
            </ul>
        
            <h4>Environmental</h4>
            <ul>
                <li>Standard: 50°F to 104°F (10°C to 40°C)</li>
                <li>Humidity: 20% to 80%</li>
            </ul>
        
            <h4>Operating Platform</h4>
            <ul>
                <li>Intel® i3 Processor</li>
                <li>500GB Hard Drive</li>
                <li>4GB RAM</li>
            </ul>
        
            <h4>Software</h4>
            <ul>
                <li>Windows® 7 / 10 Ready</li>
                <li>APTRATM Advance NDC</li>
            </ul>
        
            <h4>Additional Features</h4>
            <ul>
                <li>Biometrics Ready</li>
            </ul>
        </div>
        
        
    
    </div>
  </div>

<!-- Vendor JS Files -->
<script src= {% static "assets/vendor/jquery/jquery.min.js" %}></script>
<script src= {% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
<script src= {% static "assets/vendor/jquery.easing/jquery.easing.min.js" %}></script>
<script src= {% static "assets/vendor/php-email-form/validate.js" %}></script>
<script src= {% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
<script src= {% static "assets/vendor/venobox/venobox.min.js" %}></script>
<script src= {% static "assets/vendor/owl.carousel/owl.carousel.min.js" %}></script>
<script src= {% static "assets/vendor/aos/aos.js" %}></script>

<!-- Template Main JS File -->
<script src= {% static "assets/js/main.js" %}></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
